<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="false"
         stopOnFailure="true"
         stopOnError="true"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         failOnWarning="false"
         failOnEmptyTestSuite="false"
         failOnRisky="false"
         failOnSkipped="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnDefect="true"
         beStrictAboutChangesToGlobalState="false"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutResourceUsageDuringSmallTests="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutTodoAnnotatedTests="false"
         enforceTimeLimit="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="5"
         timeoutForLargeTests="30">
    <testsuites>
        <testsuite name="Classifier Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>


</phpunit>
